html {
	font-family: 'Cutive', serif;
	text-align: center;
	font-size: 62.5%;
}
/* Header */
header {
	background-image: url("../images/songbird_logo.jpg");
	background-size: cover;
	height: 40rem;
	background-repeat: no-repeat;
}
/* Navigation Display */
nav {
	list-style: none;
}
nav li {
	display: inline;
}
nav a {
	text-decoration: none;
	color: black;
}
/* Mobile-Medium Display */

	/* Hide Unit */
	.hide {
		display: none;
	}
	/*Sizing Background Images */
	.fitpretty {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
	/* Flex Div */
	.flexing {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		/*height: 50vh;*/
	}
	/* Background Images w/ Gradient */
	#venues {
		background-image: linear-gradient(
	      rgba(0, 0, 0, 0.35),
	      rgba(0, 0, 0, 0.35)
	      ),
		  url("../images/door.jpg");
		);
		height: 60rem;
		width: 50%;
	}
	#hours {
		background-image: linear-gradient(
			rgba(0, 0, 0, 0.3),
			rgba(0, 0, 0, 0.3)
			),
			url("../images/coffee.jpg");
		);
		height: 60rem;
		width: 50%;
	}
	#events {
		background-image: linear-gradient(
			rgba(0, 0, 0, 0.4),
			rgba(0, 0, 0, 0.4)
			),
			url("../images/espresso.jpg");
		);
		flex-grow: 2;
		width: 100%;
		height: 64rem;
	}
	/* Text Overlay */
	.wrapper {
		font-family: 'Balthazar', serif;
		font-weight: lighter;
		color: white;
		padding-top: 10%;
		font-size: 3.5rem;
		text-align: center;
	}
	/*
	.longTile {
		background-image: url("../images/espresso_pour.jpg");
		background-size: contain;
		background-repeat: no-repeat;
		
		display: flex;
		height: auto;
		width: 100vw;
		justify-content: stretch;
		align-items: center;
		
	}
	*/
	footer {
		color: white;
		font-size: 2.5em;
		background-color: #9a9a9a;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-around;
		
	}
/*
.grow {
	flex-grow: 1;
	/*flex-shrink: 1;
}*/